<!DOCTYPE html>
<html lang="en">
 
<head>
<title>Profiles</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Github profiles List</h3>
        </div>
			

		<div class = "container">
			<div class = "jumbotron">
				<h1>Github Profile Link</h1>
          <form class="form-inline">
            <div class="form-group">
               <label class="sr-only" for="exampleInputEmail3">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter Link Here">
           </div>
           <div class="checkbox">
           </div>
					 <button type="submit" class="btn btn-primary btn-xm">give link</button>
         </form>
   		</div>
   	</div>

</body>
 
</html>
